In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import nltk
import re
from wordcloud import WordCloud
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize 
from nltk import pos_tag, word_tokenize
from string import punctuation
from sklearn import preprocessing, linear_model, metrics
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import itertools
%matplotlib inline

In [2]:
df = pd.read_csv('Hotel_Reviews.csv')

In [3]:
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,12 rue de la Montagne Sainte Genevi ve 5th arr...,46,3/16/2017,9.0,Hotel La Lanterne,United Kingdom,No Negative,0,499,Super friendly staff in great location,8,2,10.0,"[' Leisure trip ', ' Family with young childre...",140 day,48.848984,2.348383
1,152 Cricklewood Broadway Cricklewood London NW...,512,9/8/2015,8.0,Clayton Crown Hotel London,United Kingdom,There was never any spaces in the car park We...,86,2491,Breakfast,2,1,6.3,"[' Couple ', ' Executive Double Room ', ' Stay...",695 day,51.556155,-0.214182
2,King William Walk Greenwich London SE10 9JW Un...,484,1/30/2017,8.2,De Vere Devonport House,Latvia,No Negative,0,1827,Excellent breakfast comfortable bed very good...,8,28,9.2,"[' Business trip ', ' Solo traveler ', ' Twin ...",185 day,51.480672,-0.007137
3,78 84 Sussex Gardens Westminster Borough Londo...,636,2/16/2016,7.7,Shaftesbury Metropolis London Hyde Park,United Kingdom,Reception staff weren t overly friendly TV di...,86,2867,Very comfortable bed nice bathroom and very c...,10,8,5.0,"[' Leisure trip ', ' Couple ', ' Deluxe Double...",534 day,51.516689,-0.170615
4,Matrosengasse 6 8 06 Mariahilf 1060 Vienna Aus...,387,4/18/2016,8.1,Leonardo Hotel Vienna,Germany,No Negative,0,6373,Good location and cleanliness,5,8,7.1,"[' Leisure trip ', ' Family with young childre...",472 day,48.194530,16.340327

In [4]:
df['Full_Review'] = df['Positive_Review'] + ' and ' + df['Negative_Review']

In [5]:
def cleanme(txt):
    sent = txt.lower()
    wrds = word_tokenize(sent)
    clwrds = [w for w in wrds if not w in stopwords.words('english')]
    ln = len(clwrds)
    pos = pd.DataFrame(pos_tag(wrds))
    pos = " ".join(list(pos[pos[1].str.contains("JJ")].iloc[:,0]))
    rt = [ln, " ".join(clwrds), pos]
    return(rt)

In [6]:
tmp = list()
for i in range(len(df)):
    tmp.append(cleanme(df.iloc[i,:]['Full_Review']))
tmp = pd.DataFrame(tmp)
tmp.columns = ['reviewlen', 'cleanrev', 'adjreview']

In [7]:
x1 = tmp['cleanrev']
x2 = tmp['adjreview']
y = df["Reviewer_Score"]

In [8]:
vect = TfidfVectorizer(ngram_range = (1,3))
x_vect1 = vect.fit_transform(x1)
x_vect2 = vect.fit_transform(x2)

In [11]:
def LinReg(x, y):
    cls = linear_model.LinearRegression()
    cls.fit(x,y)
    prediction= cls.predict(x)
    print('Co-efficient of linear regression',cls.coef_)
    print('Intercept of linear regression model',cls.intercept_)
    print('Mean Square Error', metrics.mean_squared_error(y, prediction))

In [13]:
LinReg(x_vect1, y)

Co-efficient of linear regression [-0.69074816 -0.25124314 -0.11778368 ...  0.13344441  0.13344441
  0.13344441]
Intercept of linear regression model 8.394804177105007
Mean Square Error 0.06452627653872954

In [14]:
LinReg(x_vect2, y)

Co-efficient of linear regression [-1.69778245 -1.69778245 -1.69778245 ... -0.23489912 -0.23489912
  0.02802873]
Intercept of linear regression model 8.394804177105007
Mean Square Error 0.5935256708855031

In [11]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
polynomial_features = PolynomialFeatures(degree = 2)
x_poly = polynomial_features.fit_transform(x_vect1)

model = LinearRegression()
model.fit(x_poly, y)
y_poly_pred = model.predict(x_poly)

print('Co-efficient of linear regression',model.coef_)
print('Intercept of linear regression model',model.intercept_)
print('Mean Square Error', metrics.mean_squared_error(y, y_poly_pred))